*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
    display: flex;
    justify-content: center;
    
    
}
.container{
    max-width: 900px;
    padding: 50px 20px 50px 20px;
    background-color: white;
    margin-top: 5%;
    border-radius: 8px;
    box-shadow: 2px 2px 20px rgb(68, 255, 0);
}
.data_content{
   display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap:25px 30px
}
h1{
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
}
.span{
    font-size: 20px;
}
#txt{
    grid-column: 1/span 2;
}
textarea{
    width: 100%;
    padding: 10px;
}
.fromdata{
    display: flex;
    flex-direction:column
}
input{
    height: 30px;
    width: 300px;
    padding: 10px;
}
select{
    height: 30px;
    width: 300px;
}
.btn{
    display: flex;
    justify-content: flex-end;
}
button{
    background-color: red;
    color: white;
    font-weight: bolder;
    margin-top: 20px;
    padding:8px;
    border-radius: 8px;
    transition: all 0.2s ease-in;
}
button:hover{
    background-color: blue;
    transition: all 0.2s ease-out;
}
input:focus{
    outline-color: green;
}